#footer{
    background: #283747;
    color: white;
}

#footer a, #footerDivider a{

    color: white;
    text-decoration: none;

}

#footerDivider{

    background: #707B7C  ;
}

#main img{

    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);


}

#carousel{

    position: relative;
}

#carousel .overlay{

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0,0,0,0.5);



}

#carousel .overlay .container,
#carousel .overlay .row{

    height: 100%;

}

.btn-tecnoeduca{

    background-color:#283747 ;
    color: white;
}

.btn-tecnoeduca:hover{

    background-color: #34495E ;
    color:white;
}